<%- include("_sidebar") -%>

<div id="content">

    <%- include("_navbar") -%>
    <script src="/send_url.js"></script>
    <ul class="breadcrumb">
        <li><a href="/admin/vehicles">Car</a></li>
        <li><a href="/admin/vehicles">List Car</a></li>
        <li>Add New Car</li>
    </ul>
    <!-- title -->
    <h2 class="mb-3">Add New Car</h2>
    <!-- content -->
    <form action="/admin/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Nama</label>
            <input type="text" class="form-control" placeholder="Avanza" name="name">
        </div>
        <div class="form-group">
            <label>Sewa Per Hari</label>
            <input type="number" class="form-control" placeholder="0" name="price">
        </div>
        <div class="form-group">
            <label>Ukuran</label>
            <select class="form-control" aria-label="Default select example" name="size">
                <option value="Small" selected>Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select>
        </div>
        <p style="color: black;" class="mb-1">Foto</p>
        <div class="custom-file">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <input type="file" class="custom-file-input" id="customFile" name="image">
        </div>
        <br><br><br>

        <button type="submit" class="btn btn-primary mt-2" value="add">Submit</button>
    </form>
</div>

<%- include("_footer") -%>